<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}

    {{ form.first_name.label }}
    {{ form.first_name }}<br>

    {{ form.last_name.label }}
    {{ form.last_name }}<br>

    {{ form.username.label }}
    {{ form.username }}<br>

    {{ form.email.label }}
    {{ form.email }}<br>

    {{ form.password1.label }}
    {{ form.password1 }}<br>

    {{ form.password2.label }}
    {{ form.password2 }}<br>


    <input type="submit" value="Register" class="btn btn-success">

</form>
</body>
</html>